go.sum
*.ngo
*.nmod
*.jpeg
*.jpg

# Project files
.idea
.settings
.classpath
.project
*.iml

# MacOS
*.swp
.DS_Store
Icon?

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
